<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>



<div align="center">
  <form th:action="@{/}" th:object="${plusForm}" method="POST">
    <table>
      <tr>
        <td><input type="text" name="var1" /></td>
      </tr>
      <tr>
        <td><select name="plus">
          <option th:each="plus :${plusList}"
                  th:text="${plus}">
        </select></td>
      </tr>
      <tr>
        <td><input type="text" name="var2" /></td>
      </tr>
    </table>
    <input type="submit" value="Save" />
  </form>
</div>

</body>
</html>